.items {
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: calc((100% / 2) - 1em);
}
.item:first-child {
  width: calc(100% - 1em);
}

@media (min-width: 480px) {
  .item {
    width: calc((100% / 3) - 1em);
  }
  .item:nth-child(-n + 2) {
    width: calc((100% / 2) - 1em);
  }
}
@media (min-width: 1024px) {
  .item {
    width: calc((100% / 4) - 1em);
  }
  .item:nth-child(2) {
    width: calc((100% / 4) - 1em);
  }


}