.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.item:first-child {
  grid-column-end: span 2;
}

@media (min-width: 480px) {
  .items {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .item {
    grid-column-end: span 2;
  }
  .item:nth-child(-n + 4) {
    grid-column-end: span 3;
  }
}
@media (min-width: 1024px) {
  .items {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .item:nth-child(-n + 4),
  .item {
    grid-column-end: span 2;
  }
  .item:nth-child(-n + 2) {
    grid-column-end: span 5;
  }

}