header {
  text-align: center;
  padding: 3em 0;
  background-color: var(--c-light);
}
.links {
  list-style: none;
  padding: 0;
}
.links li {
  display: inline;
}
.links a {
  text-decoration: none;
}
.current {
  border-bottom: 2px solid var(--c-brand);
}
.items {
  list-style: none;
  padding: 0.5em;
  margin: 3em 0;
}
.item {
  margin: 0.5em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  padding: 0 1em;
  overflow:auto;
}
.no-grid .item {
  max-width: 20em;
  margin: 0.5em auto;
}
.item-image {
  margin: 0 -1em;
  padding-bottom: 66%;
  background-color: var(--c-light);
}
